In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'

In [102]:
data = pd.read_csv('./NIFTY 50-08-04-2024-to-08-05-2024.csv')

Index(['Date ', 'Open ', 'High ', 'Low ', 'Close ', 'Shares Traded ',
       'Turnover (₹ Cr)'],
      dtype='object')

In [29]:
change = np.log(data['Close '] / data['Close '].shift(1))

In [30]:
volatility = change.std()

In [26]:
volatility * np.sqrt(252)

0.10524009260930639

volatility(annual data) = 0.09


volatility(previous month data) =0.1

In [45]:
def volatility(data,vol_time_frame,column_name):
    # file = pd.read_csv(data)
    change = np.log(data[column_name] / data[column_name].shift(1))
    volatility = change.std()
    return volatility * np.sqrt(vol_time_frame)

In [69]:
data = pd.read_csv('./Bitcoin Historical Data.csv')
data['Price'] = pd.read_csv('./Bitcoin Historical Data.csv')['Price'].str.replace(',','').astype(float)

In [74]:
volatility(data,365,'Price')

0.5329418161915599

In [79]:
((data.iloc[-1]['Price'] - data.iloc[0]['Price'])/data.iloc[0]['Price']) *100

15.010488861436977

In [81]:
data.iloc[-1]['Price'], data.iloc[0]['Price']

(70011.6, 60874.1)

In [228]:
data = pd.read_csv('Bitcoin Historical Data.csv')

In [229]:
data= data.drop('Date',axis=1)

In [230]:
labels = []
for c in data.keys():
    labels.append(c)

In [ ]:
for x in labels:
    data[x] = data[x].str.replace(',','').astype('float')

In [259]:
data['Change %'] = data['Change %'].str.replace('%','').astype('float')

In [260]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Price     31 non-null     float64
 1   Open      31 non-null     float64
 2   High      31 non-null     float64
 3   Low       31 non-null     float64
 4   Vol.      31 non-null     float64
 5   Change %  31 non-null     float64
dtypes: float64(6)
memory usage: 1.6 KB

In [36]:
data = pd.read_csv('NIFTY 50 - Minute data.csv')

In [27]:
data['date']=pd.to_datetime(data['date'])

In [46]:
data

                       date      open      high       low     close  volume
0       2015-01-09 09:15:00   8285.45   8295.90   8285.45   8292.10       0
1       2015-01-09 09:16:00   8292.60   8293.60   8287.20   8288.15       0
2       2015-01-09 09:17:00   8287.40   8293.90   8287.40   8293.90       0
3       2015-01-09 09:18:00   8294.25   8300.65   8293.90   8300.65       0
4       2015-01-09 09:19:00   8300.60   8301.30   8298.75   8301.20       0
...                     ...       ...       ...       ...       ...     ...
836752  2024-01-25 15:25:00  21376.55  21378.90  21372.75  21377.95       0
836753  2024-01-25 15:26:00  21376.55  21386.10  21375.80  21384.20       0
836754  2024-01-25 15:27:00  21384.75  21401.75  21381.30  21394.15       0
836755  2024-01-25 15:28:00  21392.70  21396.25  21384.25  21395.70       0
836756  2024-01-25 15:29:00  21391.75  21391.95  21367.40  21370.75       0

[836757 rows x 6 columns]

In [77]:
volatility(data[10000:],1,'close')

0.0005336624981080272