In [136]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [102]:
data = pd.read_csv('./NIFTY 50-08-04-2024-to-08-05-2024.csv')

Index(['Date ', 'Open ', 'High ', 'Low ', 'Close ', 'Shares Traded ',
       'Turnover (â‚¹ Cr)'],
      dtype='object')

In [29]:
change = np.log(data['Close '] / data['Close '].shift(1))

In [30]:
volatility = change.std()

In [26]:
volatility * np.sqrt(252)

0.10524009260930639

volatility(annual data) = 0.09


volatility(previous month data) =0.1

In [65]:
def volatility(data,vol_time_frame,column_name):
    # file = pd.read_csv(data)
    change = np.log(data[column_name] / data[column_name].shift(1))
    volatility = change.std()
    return volatility * np.sqrt(vol_time_frame)

In [69]:
data = pd.read_csv('./Bitcoin Historical Data.csv')
data['Price'] = pd.read_csv('./Bitcoin Historical Data.csv')['Price'].str.replace(',','').astype(float)

In [74]:
volatility(data,365,'Price')

0.5329418161915599

In [79]:
((data.iloc[-1]['Price'] - data.iloc[0]['Price'])/data.iloc[0]['Price']) *100

15.010488861436977

In [81]:
data.iloc[-1]['Price'], data.iloc[0]['Price']

(70011.6, 60874.1)

In [228]:
data = pd.read_csv('Bitcoin Historical Data.csv')

In [229]:
data= data.drop('Date',axis=1)

In [230]:
labels = []
for c in data.keys():
    labels.append(c)

In [ ]:
for x in labels:
    data[x] = data[x].str.replace(',','').astype('float')

In [259]:
data['Change %'] = data['Change %'].str.replace('%','').astype('float')

In [260]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Price     31 non-null     float64
 1   Open      31 non-null     float64
 2   High      31 non-null     float64
 3   Low       31 non-null     float64
 4   Vol.      31 non-null     float64
 5   Change %  31 non-null     float64
dtypes: float64(6)
memory usage: 1.6 KB

In [261]:
data.corr()

             Price      Open      High       Low      Vol.  Change %
Price     1.000000  0.765009  0.862021  0.903700 -0.202784  0.214043
Open      0.765009  1.000000  0.944331  0.827168  0.026185 -0.464742
High      0.862021  0.944331  1.000000  0.818386  0.077910 -0.240358
Low       0.903700  0.827168  0.818386  1.000000 -0.432471 -0.019026
Vol.     -0.202784  0.026185  0.077910 -0.432471  1.000000 -0.304109
Change %  0.214043 -0.464742 -0.240358 -0.019026 -0.304109  1.000000