In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data/Nifty 50 Historical Data.csv')

In [12]:
data['Change %'] = data['Change %'].str.replace('-', '')

In [14]:
data['Change %'] = data['Change %'].astype('float')

In [40]:
sum = 0
for x in (data['Change %'] > 1):
    if x == True:
        sum +=1

In [41]:
sum

893

In [46]:
data['Date'] = pd.to_datetime(data['Date'], format="%b %d, %Y")

In [48]:
data[data['Change %'] > 1].tail()

           Date     Price      Open      High       Low     Vol.  Change %
3549 2010-02-03  4,931.85  4,831.00  4,949.15  4,831.00  163.10B      2.11
3550 2010-02-02  4,830.10  4,907.85  4,951.15  4,814.10  235.09B      1.42
3554 2010-01-27  4,853.10  5,008.50  5,008.50  4,833.05  274.77B      3.09
3556 2010-01-22  5,036.00  5,094.15  5,094.15  4,954.85  270.25B      1.14
3557 2010-01-21  5,094.15  5,220.20  5,220.35  5,085.45  190.01B      2.44